.form-title{
    text-align: center;
    background-color: lightgray;
    padding-bottom: 10px;
}
.btn-wrapper{
    text-align: center;
}
.Registration-form{ 
    width: 900px;
    margin-left: auto;
    margin-top: 10px;
    margin-right: auto;
    padding: 20px;
}